.body {
    background-color: teal;
}

.inputBox { text-align: center;
}

#billWithTip li{
    text-align: center;
    color: whitesmoke;
    cursor: pointer; 
    padding: 5px;
}
#billWithTip li:hover{
    text-decoration: underline whitesmoke 1px;
    text-underline-offset: 2px;
}

.calculatorImage{
    display: block;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}  


.service, .total{ text-align: center; color: whitesmoke;
}
.crab {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.submit {
    display: flex;
    justify-content: center;
}