.body {
    background-color: teal;
}

.inputBox { text-align: center;

}

#billWithTip li{
    text-align: center;
    color: whitesmoke;
    cursor: pointer; 
    padding: 5px;
}
#billWithTip li:hover{
    text-decoration: underline whitesmoke 1px;
    text-underline-offset: 2px;
}

.calculatorImage{
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}  


.service, .total{ 
    text-align: center;
    color: whitesmoke;
}
.crab {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.submit {
    display: flex;
    justify-content: center;
}

.seeTotalBill {
    color: whitesmoke;
    text-align: center;

}

span {
    color: greenyellow;
}

.servicePlate {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.crabParty {
    display: block;
    width: 200;
    height: 150;
    margin: 0 auto;
}