.body {
    background-color: teal;
}

.inputBox { text-align: center;

}

#billWithTip li{
    text-align: center;
    color: whitesmoke;
    cursor: pointer; 
    padding: 5px;
}
#billWithTip li:hover{
    text-decoration: underline whitesmoke 1px;
    text-underline-offset: 2px;
}

.calculatorImage{
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}  


.service, .total{ 
    text-align: center;
    color: whitesmoke;
}
.crab {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.submit {
    display: flex;
    justify-content: center;
    font-size:larger;
}

.seeTotalBill {
    color: whitesmoke;
    text-align: center;

}

span {
    color: greenyellow;
}

.servicePlate {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.crabParty {
    display: block;
    width: 200px;
    height: 150px;
    margin: 0 auto;
}

.footer {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    
}

.footerPic {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}