.body {
    background-color: teal;
}

.inputBox { text-align: center;
}

#billWithTip li {text-align: center; color: whitesmoke; 
}

.calculatorImage{
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 auto;
}  


.service { text-align: center; color: whitesmoke;
}
.crab {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.submit {
    display: flex;
    justify-content: center;
}

.seeTotalBill {
    color: whitesmoke;
    text-align: center;

}

span {
    color: greenyellow;
}